.maindiv {
  animation: 25s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
.mainScale {
  transition-duration: 3s;
}

@keyframes slideaway {
  from { display: flex; }
  to { transform: translateY(100%);}
}

.hide {
  animation: slideaway 5s;
  display: none;
}